.featured {
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.featured .image {
  position: absolute;
  z-index: -1;
  overflow: hidden;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.data-content {
  display: flex;
  align-items: center;
  flex-direction: row;
  background: linear-gradient(to left, transparent 0%, rgb(0, 0, 0, 0.7) 50%);
  width: 100%;
  height: 100%;
  color: white;
  justify-content: center;
}
.left-content {
  padding-right: 400px;
  display: flex;
  flex-direction: column;
}
.buttons {
  display: flex;
  flex-direction: row;
}
.title {
  color: white;
  font-size: 50px;
  margin-bottom: 25px;
}
.play {
  display: flex;
  width: 150px;
  height: 40px;
  border: none;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  transition: ease-in 0.3s all;
  margin-right: 8px;
}
.play:hover {
  background: #50cfb7;
}
.Trailer {
  display: flex;
  width: 150px;
  height: 40px;
  border: none;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  transition: ease-in 0.3s all;
}
.Trailer:hover {
  background: #50cfb7;
}
.close-video {
  position: absolute;
  z-index: 2;
  bottom: 10px;
  left: 10px;
}

.youtube-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
@media only screen and (max-width: 1000px) {
  .left-content {
    padding-right: 50px;
  }
}
